.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding:40px 100px;

    position: relative;
    z-index: 9999;
    height: 100%;
    .header__openMenu{
        opacity: 0;
        visibility: hidden;
        
        color:#fff;
       
    }
    //Logo
    &__logo{
        cursor: pointer;
        &__image{
            width: 200px;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
    //Menu
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // Navbar
        &__close{
            display: none;
        }
        &__navbar{
            ul{
                display: flex;
                align-items: center;

                list-style: none;
                li{
                    margin-right:30px;
                    a{
                        text-decoration: none;
                        color:#fff;
                        font-weight: 400;
                        font-size:1.1rem;

                        padding-bottom: 5px;

                        transition: all .4s;
                        border-bottom: none;
                        &:hover{
                            border-bottom: 1px solid rgb(228, 228, 228);
                            
                        }
                    }
                }
            }
        
        }
        //Translate Word
        &__translateWord{
            span{
                color:#fff;

                padding:12px;
                border-radius: 50%;
                font-size:0.9rem;
                &:not(:first-child){
                    margin-left:10px;
                    border:1px solid #fff;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
   
}
@media only screen and (max-width:900px) {
    .header{
        padding:40px 50px;
        &__{

        }
    }
    
}
@media only screen and (max-width:800px) {
    .header{
        padding:30px 30px;
        &__logo{
            &__image{
                width:150px;
            }

        }
        &__menu{
            &__navbar{
                ul{
                    li{
                        a{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
    
}
@media only screen and (max-width:670px) {
    .header{     
        flex-direction: column;
    }
    
}
@media only screen and (max-width:520px) {
    .header{     
        flex-direction: column;
        &__openMenu{
            margin-top:10px;
           
        }
        .fade-header{
            background-color: rgba(0,0,0,.5);
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            z-index: 8;
        }

        &__logo{
            &__image{
                width:200px;
            }
            z-index: 9;
        }
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;  
            z-index: 9;
            &__close{
                display: inline-block;
                position: relative;
                z-index: 19;
                margin-top:40px;
                .MuiSvgIcon-root{
                    color:#fff;
                    font-size:2rem;
                    &:hover{
                        cursor: pointer;
                        color:blueviolet;
                    }
                }
            }
            &__translateWord{
                margin-top:20px;
                span{
                    font-weight: bolder;
                    font-size:1.2rem;
                }
            }
            &__navbar{
              
                ul{
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding-left:0;
                    li{
                        margin:5px 0;
                        a{
                            font-weight: bolder;
                            letter-spacing: 1px;
                        }
                    }
                 
                }
            }
        }
    }
    
}