.footer{
   margin-top:700px;
   margin-bottom: 0;
   background:#ccc;
   padding:40px 180px;

   &__logo{
        h1{
            font-size:1.5rem;
            color:rgb(63, 59, 59);
            margin-bottom: 0px;
            letter-spacing: 7px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        p{
            font-size:0.9rem;
            color:rgb(139, 139, 139);
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 0;
            letter-spacing: 2px;
        }
   }
   &__text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size:1.4rem;
            color:rgb(116, 116, 116);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li{
               
               &:not(:first-child){
                   margin-left:15px;
               }
                a{
                    text-decoration: none;
                    color:rgb(122, 121, 121);
                    
                    width:60px;
                    height: 60px;
                    border:1px solid rgb(107, 107, 107);
                    border-radius: 50%;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    & > .MuiSvgIcon-root{
                        font-size:2rem;
                    }
                }
            }
        }
   }
}